*{
	font-family:'Arial';font-size:1em;
}
body{
	margin:0px;
	display:grid;
	grid-template-columns:5fr 2fr;
	width:100%;
	height:100%;
}

#display{/*flex-grow:7;*/}
#control{
	/*flex-grow:2;*/
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:1fr 6fr 2fr;
}
#control>*{border:1px solid black;}
#cursors>*{border-right:1px solid black;flex-grow:1;}
#cursors{display:flex;}
#details{
	border-top:none;border-bottom:none;
	display:flex;
	flex-direction:column;
}
#details>*{
	margin:5px;
}
#del{
	background-color:white;border:1px solid red;text-align:center;color:black;
}
#del:hover{
	background-color:red;color:white;
}
#text{
	display:flex;align-items:center;
}
#text>input{
	flex-grow:2;
}
.fromto{
	display:flex;
	justify-content:space-around;
}
.fromto>*{
	text-align:center;flex:1;
}
.fromto>.b{
	border:1px solid black;
}

.node{
	border:1px solid black;
	border-radius:50%;
	padding:10px;
	position:absolute;
	color:black;
	background:white;
}
.node:hover,.msel{
	background:gray;
}
.node.sel,.sel{
	color:white;
	background:black;
}
.edge{
	position:absolute;
	border:1px solid black;
	z-index:-1;
}

button{padding:0px}
